:root {
    --main-color: #ff8d8d;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#navB {
    background-color: white !important;

}

#navc {
    background-color: white;
}

.navbar-header {
    background-color: white;
}

.nav {
    background-color: white;
}

#startButton {
    height: 40px;
    color: white;
    background-color: #69b969;
    border-radius: 5px;
/*    font-size:0.em;*/
    
}

#startButton:hover {
    background-color: #7fd97f;
}

#packetSelector {

    width: 90%;
    background-color: #ffffff;
    margin: auto;
    margin-top: 50px;
    display: block;
    padding: 20px;
    border: 2px solid #cccccc;
    cursor: default;
    border-radius: 5px;
}

#packetList, #outputPacketList {
    margin: auto;
    margin-top: -5px;
    background-color: white;
    width: 100%;
    display: block;
    padding-bottom: 15px;
    border-bottom: 1.5px solid #dedede;
    padding: 0px;
    padding-bottom: 15px;
}

#packetDroppedList {
    padding-top: 4px;
    padding-bottom: 15px;
    border-bottom: 1.5px solid #dedede;
    padding: 0px;
    padding-bottom: 15px;

}

#packetList li,
#packetDroppedList li, #outputPacketList li {
    display: inline-block;
    padding: 10px;
    background-color: #e2e2e2;
    margin-right: 5px;
    margin-top: 10px;

}

#packetList li:hover {
    background-color: var(--main-color);
    cursor: pointer;
}



#packetsSent,
#packetsDropped, #sendOutPutList #packetsSent, #cwnd {
    background-color: var(--main-color) !important;
    color: white;
    padding: 10px;
    margin-right: 7px;

}

#packetsDroppedList {
    border-bottom: 1.5px solid #dedede;

}

#packetsSent:hover {
    cursor: default !important;
}


.numPacketsSelector {
    height: 60px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    width: 100%;

    display: inline-flex;
    margin-bottom: 10px;
    border-bottom: 1.5px solid #dedede;
}

.generalInputField {
    display: inline-block;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    margin-left: 40px;
    margin-right: 10px;
    height: 40px;
    text-align: center;
    margin-left: 0px;
/*    font-size:  0.5em;;*/

}

#numPacketSentForm {
    display: inline-block;
    text-align: center;
}

.numberField {
    width: 75px;
    margin: auto;
    height: 40px;
    text-align: center
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1;
    


}



#myChart {
    background-color: #f0f0f0;
    margin-top: 30px;
    border: 2px solid #dedede;
}

#analysisSection {
   width: 90%;
    background-color: #ffffff;
    margin: auto;
    margin-top: 50px;
    display: block;
    padding: 20px;
    border: 2px solid #cccccc;
    cursor: default;
    border-radius: 5px;
    display: inline-block;
    margin-left: auto;
    margin-left: 5%;
    margin-bottom: 40px;
    
       
}

#aimdAnalysis,
#slowStartAnalysis {
 width: 49.6%;

}

.SentDroppedDiv{
    display: inline-flex;
    background-color: white !important;
    color: #5a5a5a !important;
    font-family: 'Roboto', sans-serif;
    font-size: 15px !important;
    width: 100%;
        border-bottom: 1.5px solid #d8d8d8;
}

.SentDroppedDiv p {
        display: inline-flex;
    background-color: white !important;
    color: #5a5a5a !important;
    font-family: 'Roboto', sans-serif;
    font-size: 15px !important;
    text-align: center !important;
    margin-top: auto;
    margin-bottom: auto;
    padding: 14px !important;
}

.SentDroppedDiv:last-child {
    border-bottom: none;
}

.analysisAnswer {
    margin-left: 5px;
    border-right: 1.5px solid #d8d8d8;
    font-weight: bold;
}


.noBorder {
    border-style: none !important;
}

.analysisTitle {}

.analysisTitle p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: var(--main-color);
    color: white;
    padding: 10px;
}

.analysisPackInfo {
    margin-left: -10px !important;
}

#aimdAnalysis {
/*
    border-right: 1.5px solid #dedede;
    padding-right: 20px;
*/
    float: left;
    border-right: 1.5px solid #d8d8d8;
    padding-right: 13px;

}

#slowStartAnalysis {
    float: right;
}

#outputList {
    display: block;
}
#aimdSendOutPutList, #slowStartSendOutPutList {
    width: 90%;
    height: 350px;
    background-color: #eaeaea;
    margin: auto;
/*    background-color: #f0f0f0;*/
/*        background-color: #e8e8e8;*/
/*        background-color: #ededed;*/
background-color: white;
    margin-top: 30px;
    border: 2px solid #dedede;
    display: block;
    padding: 10px;
    
    display:block;
overflow:auto;
}

#sendOutPutList li {
/*    background-color: #cbcbcb !important;*/
/*    color: white;*/
}

#sendOutPutList #packetsSent {
    padding-right: 10px;
/*    border-right: 1.5px solid #888888;*/
        border-right: 1.5px solid #e27171;

    
}

.outPutListDiv {
/*    background-color: #e6e6e6 !important;*/
    border-bottom: 1.5px solid #c6c6c6 !important;

}



#outputPacketList {
    border-bottom: 1.5px solid #c6c6c6 !important;
    margin-bottom: 6px;
}


.droppedPacketRed {
/*    background-color: #006bfd !important;*/
}

#cwnd {
/*    b2ffb2*/
    background-color: #ffd38d !important;
    color:white;
    
     padding-right: 10px;
    border-right: 1.5px solid #f0ac3e;
        
    
}

.glyphicon {
    margin-left: 5px;
}

.inputValue {
    margin-right: 25px;
    border-right: 1.5px solid #dedede;
    padding-right: 20px;
    height: 40px;
    display: inline-block;
    text-align: center;

}

.inputBorder {
  
}

.fraction {
  display: inline-block;
  position: relative;
  vertical-align: middle; 
  letter-spacing: 0.001em;
  text-align: center;
  font-size: 10px;
    margin-right: 10px;
    
     margin-top: auto;
    margin-bottom: auto;
  }
.fraction > span { 
  display: block; 
  padding: 0.1em; 
  }
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}

#aimdTransmissionTime {
    font-weight: 100;
      font-size: 12px !important;

}

html {
    padding-top: 60px;
}

body {
    background-color: #967070 !important;
}
